
.box-the-interface{
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    margin-top: 60px;
    margin-bottom: 50px;
    z-index: 100;
  }
  
  .main{
    background-color: #000;
    color: #fff;
   
  }
  .Name-character{
    font-size:xx-large;
    margin-top: 10px;
    font-size: 3rem;
    margin-bottom: 3px;
    margin-left: 655px;
    color: #fff;
    font-family: "Cormorant", serif;
    
  }
  .NameInfo h1{
  margin-top: 10px;
    font-size: 3rem;
    margin-bottom: 3px;
    margin-left: 540px;
    color: #fff;
    font-family:"Lucida Handwriting",Lucida,cursive;
     }
 
  .media-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex-grow: 1;
    background-color: #000;
    
  }
  .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
   height: 30rem;
   margin-bottom: 70px;
  /* transition: 2s;*/
   
  }
  .media-image {
    max-width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: 1s;
  }
  .media-image:hover{
    transform: scale(1.1);
  /*  width: 400px;
    height: 31rem;*/
    transition: 1s;
  }
  .video-container{
    height: 35rem;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: 2s;
  }
  .media-video{
    
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  
  }
  
  
  .video-description {
    font-size: 2rem;
    
    margin-top: 10px;
  
    
    gap: 10px;
    color: #fff;
  }